body {
    background: url('../images/x-wing-fighter-background.jpg');
    font-family: 'Star Jedi';
    color: #333333;
}
h1 {
    font-size: 56px;
    text-align: right;
    margin-right: 200px;
}
h2 {
    font-size: 28px;
    clear: both;
}
button {
    font-family: 'Star Jedi';
    color: #333333;
    background: #ff0000;
    margin: 20px 0;
}
figure {
    float: left;
    padding: 0 10px;
    margin: 0 5px;
    background: #ffffff;
    border: 2px solid #00ff00;
}
figure img {
    width: 150px;
    height: 150px;
}
figcaption {
    text-align: center;
    background: #ffffff;
}
#your-character {
    height: 150px;
}
#enemies-to-attack {
}