body {
    background: url('../images/x-wing-fighter-background.jpg');
    font-family: 'Star Jedi';
    color: #333333;
}
h1 {
    font-size: 56px;
    text-align: right;
    margin-right: 200px;
}
h2 {
    font-size: 28px;
    text-align: left;
}
button {
    font-family: 'Star Jedi';
    color: #333333;
    margin: 10px 0;
}