body {
    background: url('../images/x-wing-fighter-background.jpg');
    font-family: 'Star Jedi';
    color: #333333;
}
h1 {
    font-size: 56px;
    text-align: right;
    margin-right: 200px;
}
h2 {
    font-size: 28px;
    left: 0;
}
button {
    font-family: 'Star Jedi';
    color: #333333;
    background: #ff0000;
    margin: 20px 0;
}
figure {
    float: left;
    padding: 0 10px;
    margin: 0 5px;
    background: #ffffff;
}
figure img {
    width: 150px;
    height: 150px;
}
figcaption {
    text-align: center;
    background: #ffffff;
}
div #choose-character {
    display: absolute;
}